// Mis estilos
@import "core/reset";

.title {
	font-size: 80px;
	letter-spacing: 5pt;
	text-align: center;
	color: #ebca13;
	background-color: #5f0a86;
}

.wizardList {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	&__item {
		&--image {
			height: 300px;
			width: 200px;
			border: 3px solid orange;
		}
	}
}
.form {
	display: flex;
	flex-direction: column;
	height: 50px;
	&__item {
		display: block;
		margin: 10px 20px;
	}
}
